<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard_iPhone</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>no.altinn.altinnapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app.altinn.no</string>
			</array>
		</dict>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<dict>
				<key>Red</key>
				<real>1</real>
				<key>Green</key>
				<real>1</real>
				<key>Blue</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>Altinn</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x</string>
		<string>Icon@2x</string>
		<string>Icon</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>CFBundleIdentifier</key>
	<string>Altinn</string>
</dict>
</plist>
